<html>
  <head></head>
  <body>
    <h1>Protesting 101</h1>
    <div id="gear">
      <h2>Gear</h2>
      <img class="spinner" src="/images/spinner.gif" style="display:none"/>
      <ul id="gearList"></ul>
    </div>

    <div id="resources">
      <h2>Resources</h2>
      <img class="spinner" src="/images/spinner.gif" style="display:none"/>
      <ul id="resourceList"></ul>
    </div>
  </body>
</html>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="/js/application.js"></script>